# === Android/Gradle ===
*.iml
.gradle/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar

# === IDEs ===
.idea/

# === OS-specific ===
.DS_Store
Thumbs.db

# === Misc ===
*.log

# === Libs ===
app/libs/*
!app/libs/core-bridge.aar